{% extends "base.html" %}
{% load static %}
{% block title %}
Home
{% endblock title %}
{% block body %}

<!-- Carousel Start -->
<div class="container-fluid carousel px-0 mb-5 pb-5">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            {% for image in images %}
            <li data-bs-target="#carouselId" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for image in images %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ image.image.url }}" class="img-fluid w-100" alt="{{ image.title }}">
                <div class="carousel-caption">
                    <div class="container carousel-content">
                        <h1 class="text-white mb-4 animated slideInDown">{{ image.title }}</h1>
                        <h6 class="text-white display-1 mb-4 animated slideInDown">{{image.description}}</h6>
                        <a href="" class="me-2">
                            <a href="{% url 'services'%}" type="button" class="px-5 py-3 btn btn-primary border-2 rounded-pill animated slideInDown">Read More</a>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev btn btn-primary border border-2 border-start-0 border-primary" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btn btn-primary border border-2 border-end-0 border-primary" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay=".3s">
                <div class="about-img">
                    <div class="rotate-left bg-dark"></div>
                    <div class="rotate-right bg-dark"></div>
                    <img src="{{about.image_cover.url}}" class="img-fluid h-100" alt="img">
                    <div class="bg-white experiences">
                        <h1 class="display-3">20</h1>
                        <h6 class="fw-bold">Years Of Experiences</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay=".6s">
                <div class="about-item overflow-hidden">
                    <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">
                        About Site</h5>
                    <h1 class="display-5 mb-2">What makes Curtains Dubai unique?</h1>
                    <p class="fs-5" style="text-align: justify;">{{about.short_description|safe|truncatewords:50}} <a
                            href={% url 'about'%} class="btn btn-primary">Read More</a></p>
                    <a href="{% url 'services'%}" class="btn btn-primary border-0 rounded-pill px-4 py-3 mt-5">Find
                        Services</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Services Start -->
<div class="container-fluid services py-5">
    <div class="container text-center py-5">
        <div class="text-center mb-5 wow fadeInUp" data-wow-delay=".3s">
            <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">Our Services
            </h5>
            <h1 class="display-5">Common Next Trendies Services</h1>
        </div>
        <div class="row g-5">
            {% for service in services %}
            <div class="col-xxl-3 col-lg-6  overflow-hidden col-md-6 col-sm-12 wow fadeInUp" data-wow-delay=".3s">
                <div class="image-container overflow-hidden">
                    <img src="{{service.cover_image.url}}" alt="Image" class="image d-block">
                    <div class="overlay">
                        <h2 class="title">{{service}}</h2>
                        <p class="fs-5 text-light  px-3 pt-2">{{service.short_description}}</p>
                        <a href="{% url 'service_details' service.slug %}" class="btn btn-primary read-more">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'services'%}" class="btn btn-primary border-0 rounded-pill px-4 py-3 mt-4 wow fadeInUp"
            data-wow-delay=".3s">More Services</a>
    </div>
</div>
<!-- Services End -->
<!-- Blinds Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5 wow fadeInUp" data-wow-delay=".3s">
            <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">Our Recent
                Work</h5>
            <h1 class="display-5">Our Recent
                Work</h1>
        </div>
        <div class="row g-5">
            {% for blind in blinds %}
            <div class="col-xxl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay=".3s">
                <div class="project-item">
                    <div class="project-left bg-dark"></div>
                    <div class="project-right bg-dark"></div>
                    <img src="{{blind.image.url}}" class="img-fluid h-100" alt="img">
                    <a href="{% url 'blinds_details' blind.slug%}" class="fs-4 fw-bold text-center">{{blind.title}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            <a href="{% url 'blinds_list'%}" class="btn btn-primary border-0  rounded-pill px-4 py-3 mt-4 wow fadeInUp"
                data-wow-delay=".3s">Show More</a>
        </div>
    </div>
</div>
<!-- Blinds End -->


<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5 wow fadeInUp" data-wow-delay=".3s">
            <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">Our Blog
            </h5>
            <h1 class="display-5">Latest Blog & News</h1>
        </div>
        <div class="owl-carousel blog-carousel wow fadeInUp" data-wow-delay=".5s">
            {% for blog in posts %}
            <div class="blog-item">
                <img src="{{blog.image.url}}" class="img-fluid w-100 rounded-top" alt="">
                <div class="rounded-bottom bg-light">
                    <div class="d-flex justify-content-between p-4 pb-2">
                        <span class="pe-2 text-dark"><i class="fa fa-user me-2"></i>{{blog.auther}}</span>
                        <span class="text-dark"><i
                                class="fas fa-calendar-alt me-2"></i>{{blog.created_at|date:'F j , Y'}}</span>
                    </div>
                    <div class="px-4 pb-0">
                        <h4>{{blog|truncatewords:3}}</h4>
                        <p>{{blog.description|safe|truncatewords:35}}</p>
                    </div>
                    <div class="p-4 py-2 d-flex justify-content-between bg-primary rounded-bottom blog-btn">
                        <a href="{{blog.get_absolute_url}}" type="button" class="btn btn-primary border-0">Learn
                            More</a>
                        <a href="{% url 'post_by_category' blog.category %}" type="button"
                            class="btn btn-primary border-0">{{blog.category}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Blog End -->

<section class="facts-section wow fadeInUp" data-wow-delay=".3s">
        <div class="container wow fadeInUp" data-wow-delay=".3s">
            <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">Our Facts
            </h5>
            <p class="fs-5 mt-2">Highly Qualified Designers and Management Team for Instant Support and Collaborative Stylish Solutions</p>
            <div class="facts-grid wow fadeInUp" data-wow-delay=".3s">
                <div class="fact-item">
                    <h3 class="fact-number" id="clients">0</h3>
                    <p class="fs-5">Clients</p>
                </div>
                <div class="fact-item">
                    <h3 class="fact-number" id="projects">0</h3>
                    <p class="fs-5">Projects</p>
                </div>
                <div class="fact-item">
                    <h3 class="fact-number" id="hours">0</h3>
                    <p class="fs-5">Hours of Support</p>
                </div>
                <div class="fact-item">
                    <h3 class="fact-number" id="workers">0</h3>
                    <p class="fs-5">Hard Workers</p>
                </div>
            </div>
            <div class="w-75 mx-auto mt-2">
                <img class="w-100" src="{{facts.image.url}}">
            </div>
        </div>
    </section>

<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        {% include "includes/alerts.html" %}
        <div class="text-center mb-5 wow fadeInUp" data-wow-delay=".3s">
            <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">Get In Touch
            </h5>
            <h1 class="display-5 w-50 mx-auto">Contact for any query</h1>
        </div>
        <div class="row g-5 mb-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                <div class="h-100">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001583.639214438!2d-78.4099249913019!3d42.71993723844549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1687175686342!5m2!1sen!2sbd"
                        class="border-0 rounded w-100 h-100" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                <form method="POST" action="{% url 'contact'%}">
                    {% csrf_token %}
                    <div class="rounded contact-form">
                        <div class="mb-4">
                            <input type="text" name="name" class="form-control p-3" placeholder="Your Name">
                        </div>
                        <div class="mb-4">
                            <input type="email" name="email" class="form-control p-3" placeholder="Your Email">
                        </div>
                        <div class="mb-4">
                            <input type="text" name="subject" class="form-control p-3" placeholder="Subject">
                        </div>
                        <div class="mb-4">
                            <textarea class="w-100 form-control p-3" name="message" rows="6" cols="10"
                                placeholder="Message"></textarea>
                        </div>
                        <button class="btn btn-primary border-0 py-3 px-4 rounded-pill" type="submit">Send
                            Message</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row g-4 wow fadeInUp" data-wow-delay=".3s">
            <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex bg-light p-3 rounded contact-btn-link">
                    <div class="flex-shrink-0 d-flex align-items-center justify-content-center bg-primary rounded-circle p-3 ms-3"
                        style="width: 64px; height: 64px;">
                        <i class="fa fa-share text-dark"></i>
                    </div>
                    <div class="ms-3 contact-link">
                        <h4 class="text-dark">fallow Us</h4>
                        <div class="d-flex justify-content-center">
                            <a class="pe-2" href="{{myfooter.fb_link}}"><i class="fab fa-facebook-f text-dark"></i></a>
                            <a class="px-2" href="{{myfooter.tiktok_link}}"><i class="fab fa-tiktok text-dark"></i></a>
                            <a class="px-2" href="{{myfooter.instagram_link}}"><i class="fab fa-instagram text-dark"></i></a>
                            <a class="px-2" href="{{myfooter.youtube_link}}"><i class="fab fa-youtube text-dark"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex bg-light p-3 rounded contact-btn-link">
                    <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle p-3 ms-3"
                        style="width: 64px; height: 64px;">
                        <i class="fas fa-map-marker-alt text-dark"></i>
                    </div>
                    <div class="ms-3 contact-link">
                        <h4 class="text-dark">Address</h4>
                        <a href="#">
                            <h5 class="text-dark d-inline fs-6">{{myfooter.address}}</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex bg-light p-3 rounded contact-btn-link">
                    <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle p-3 ms-3"
                        style="width: 74px; height: 64px;">
                        <i class="fa fa-phone text-dark"></i>
                    </div>
                    <div class="ms-3 contact-link">
                        <h4 class="text-dark">Call Us</h4>
                        <a class="h6 text-dark fs-6" href="tel:{{myfooter.phone1}}">{{myfooter.phone1}}</a>
                        <a class="h6 text-dark fs-6" href="tel:{{myfooter.phone1}}">{{myfooter.phone2}}</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex bg-light p-3 rounded contact-btn-link">
                    <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle p-3 ms-3"
                        style="width: 64px; height: 64px;">
                        <i class="fa fa-envelope text-dark"></i>
                    </div>
                    <div class="ms-3 contact-link">
                        <h4 class="text-dark">Email Us</h4>
                        <a class="h5 text-dark fs-6" href="#">{{myfooter.email1}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->


<script>
        function animateValue(id, start, end, duration) {
            const obj = document.getElementById(id);
            const range = end - start;
            let startTime = null;

            function step(timestamp) {
                if (!startTime) startTime = timestamp;
                const progress = timestamp - startTime;
                const value = Math.min(start + Math.floor(progress / duration * range), end);
                obj.innerText = value;
                if (progress < duration) {
                    window.requestAnimationFrame(step);
                }
            }

            window.requestAnimationFrame(step);
        }

        window.onload = function() {
            animateValue("clients", 0, {{facts.clients}}, 2000);
            animateValue("projects", 0, {{facts.projects}}, 2000);
            animateValue("hours", 0, {{facts.hours_of_support}}, 2000);
            animateValue("workers", 0, {{facts.hard_workers}}, 2000);
        }
    </script>
 

    {% endblock body %}