{% extends "base.html" %}
{% load static %}
{% block title %}
{{service_detail.name}}
{% endblock title %}
{% block body %}

<!-- Page Header Start -->
        <div class="container-fluid page-header py-5">
            <div class="container text-center py-5">
                <h1 class="display-2 text-white mb-4 animated slideInDown">Services</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0 animated slideInDown">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item text-white" aria-current="page">{{service_detail.name}}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header End -->
         <div class="container text-center py-5">
                <h1 >{{service_detail.name}}</h1>
                <p>{{service_detail.description|safe}}</p>
                
            </div>

{% endblock %}