{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> {% block title %}{% endblock title %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="{{myfooter.logo.url}}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/all.min.css'%}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Topbar Start -->
    <div class="container-fluid topbar-top bg-primary">
        <div class="container">
            <div class="d-flex justify-content-between topbar py-2">
                <div class="d-flex align-items-center flex-shrink-0 topbar-info">
                    <a href="#" class="me-4 text-secondary"><i
                            class="fas fa-map-marker-alt me-2 text-dark"></i>{{myfooter.address}}</a>
                    <a href="#" class="me-4 text-secondary"><i
                            class="fas fa-phone-alt me-2 text-dark"></i>{{myfooter.phone1}}</a>
                    <a href="#" class="me-4 text-secondary"><i
                            class="fas fa-phone-alt me-2 text-dark"></i>{{myfooter.phone2}}</a>
                    <a href="#" class="text-secondary"><i
                            class="fas fa-envelope me-2 text-dark"></i>{{myfooter.email1}}</a>
                </div>
                
                <div class="d-flex align-items-center justify-content-center topbar-icon">
                    <a href="{{myfooter.fb_link}}" class="me-4"><i class="fab fa-facebook-f text-dark"></i></a>
                    <a href="{{myfooter.tiktok_link}}" class="me-4"><i class="fa-brands fa-tiktok text-dark"></i></a>
                    <a href="{{myfooter.instagram_link}}" class="me-4"><i class="fab fa-instagram text-dark"></i></a>
                    <a href="{{myfooter.youtube_link}}" class=""><i class="fa-brands fa-youtube text-dark"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid bg-dark">
        <div class="container">
            <nav class="navbar navbar-dark navbar-expand-lg py-lg-0">
                <a href="/" class="navbar-brand">
                    <img class="logo-style" src="{{myfooter.logo.url}}">
                </a>
                <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-dark"></span>
                </button>
                <div class="collapse navbar-collapse me-n3" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="{% url 'motorizedblinds'%}"
                            class="nav-item nav-link {% if request.path == '/products/motorizedblind/' %}active{% endif %} ">MOTORIZED
                            BLINDS</a>
                        <a href="{% url 'commercial_list'%}"
                            class="nav-item nav-link {% if request.path == '/products/commercial/' %}active{% endif %} ">COMMERCIAL</a>

                        <div class="nav-item dropdown">
                            <a href="{% url 'blinds_list'%}"
                                class="nav-link {% if request.path == '/products/blinds/' %}active{% endif %} dropdown-toggle"
                                data-bs-toggle="dropdown">Blinds</a>
                            <div class="dropdown-menu m-0 bg-primary">
                                <a href="{% url 'blinds_list'%}" class="dropdown-item text-center">all</a>
                                {% for blind in blinds_nav %}
                                <a href="{% url 'blinds_details' blind.slug %}"
                                    class="dropdown-item text-center">{{blind.title}}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="{% url 'curtains_list'%}"
                                class="nav-link {% if request.path == '/products/curtains/' %}active{% endif %} dropdown-toggle"
                                data-bs-toggle="dropdown">CURTAINS</a>
                            <div class="dropdown-menu m-0 bg-primary">
                                <a href="{% url 'curtains_list'%}" class="dropdown-item text-center">all</a>
                                {% for curtain in curtains_nav %}
                                <a href="{% url 'curtains_details' curtain.slug %}"
                                    class="dropdown-item text-center">{{curtain.title}}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <a href="{% url 'services'%}"
                            class="nav-item nav-link {% if request.path == '/services/' %}active{% endif %}">Services</a>
                        <a href="{% url 'post_list'%}"
                            class="nav-item nav-link {% if request.path == '/blog/' %}active{% endif %}">Blog</a>
                        <a href="{% url 'about'%}"
                            class="nav-item nav-link {% if request.path == '/about/' %}active{% endif %}">About</a>
                        <a href="{% url 'contact'%}"
                            class="nav-item nav-link {% if request.path == '/contact/' %}active{% endif %}">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    {% block body %}
    {% endblock body %}

    <!-- Footer Start -->
    <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay=".3s">
        <div class="container py-5">
            <div class="row g-4 footer-inner">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="text-white fw-bold mb-4">About Site.</h4>
                        <p>{{myfooter.description}}</p>
                        <p class="mb-0"><a class="" href="/">{{myfooter.site_name}} </a> &copy; 2023 All Right Reserved.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="text-white fw-bold mb-4">Usefull Link</h4>
                        <div class="d-flex flex-column align-items-start">
                            <a class="btn btn-link ps-0" href="{% url 'about'%}"><i class="fa fa-check me-2"></i>About Us</a>
                            <a class="btn btn-link ps-0" href="{% url 'contact'%}"><i class="fa fa-check me-2"></i>Contact Us</a>
                            <a class="btn btn-link ps-0" href="{% url 'services'%}"><i class="fa fa-check me-2"></i>Our Services</a>
                            <a class="btn btn-link ps-0" href=""><i class="fa fa-check me-2"></i>Blog</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="text-white fw-bold mb-4">Services Link</h4>
                        <div class="d-flex flex-column align-items-start">
                            {% for service in services_footer %}
                            <a class="btn btn-link ps-0" href="{% url 'service_details' service.slug%}"><i class="fa fa-check me-2"></i>{{service}}</a>
                            {% endfor %}
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="text-white fw-bold mb-4">Contact Us</h4>
                        <a href="" class="btn btn-link w-100 text-start ps-0 pb-3 border-bottom rounded-0"><i
                                class="fa fa-map-marker-alt me-3"></i>{{myfooter.address}}</a>
                        <a href="" class="btn btn-link w-100 text-start ps-0 py-3 border-bottom rounded-0">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="fa fa-phone-alt me-3"></i>{{ myfooter.phone1 }}
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-phone-alt me-3"></i>{{ myfooter.phone2 }}
                                </div>
                            </div>
                        </a>

                        <a href="" class="btn btn-link w-100 text-start ps-0 py-3 border-bottom rounded-0"><i
                                class="fa fa-envelope me-3"></i>{{myfooter.email1}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->



    <!-- Copyright Start -->
    <div class="container-fluid copyright bg-dark py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
                    <a href="/" class="text-primary mb-0 display-6"><span
                            class="text-white">{{myfooter.site_name}}</span></a>
                </div>
                <div class="col-md-4 copyright-btn text-center text-md-start mb-3 mb-md-0 flex-shrink-0">
                    <a class="btn btn-primary rounded-circle me-3 copyright-icon" href="{{myfooter.instagram_link}}"><i
                            class="fab fa-instagram"></i></a>
                    <a class="btn btn-primary rounded-circle me-3 copyright-icon" href="{{myfooter.fb_link}}"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-primary rounded-circle me-3 copyright-icon" href="{{myfooter.youtube_link}}"><i
                            class="fab fa-youtube"></i></a>
                    <a class="btn btn-primary rounded-circle me-3 copyright-icon" href="{{myfooter.tiktok_link}}"><i
                            class="fab fa-tiktok"></i></a>
                </div>
                <div class="col-md-4 my-auto text-center text-md-end text-white">
                    <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                    <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                    <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                    {{myfooter.site_name}} © 2024. All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary rounded-circle border-3 back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js'%}"></script>
    <script src="{% static 'lib/easing/easing.min.js'%}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js'%}"></script>
</body>

</html>